# This file is part of DataCite.
#
# Copyright (C) 2015, 2016 CERN.
#
# DataCite is free software; you can redistribute it and/or modify it
# under the terms of the Revised BSD License; see LICENSE file for
# more details.

notifications:
  email: false

sudo: false

language: python

cache:
  directories:
    - $HOME/.cache/pip

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"

env:
  - REQUIREMENTS=lowest
  - REQUIREMENTS=release

before_install:
  - "travis_retry pip install --upgrade pip setuptools py"
  - "travis_retry pip install twine wheel coveralls requirements-builder"
  - "requirements-builder --level=min setup.py > .travis-lowest-requirements.txt"
  - "requirements-builder --level=pypi setup.py > .travis-release-requirements.txt"

install:
  - "travis_retry pip install -r .travis-${REQUIREMENTS}-requirements.txt"
  - "travis_retry pip install -e .[all]"

script:
  - ./run-tests.sh

after_success:
  - coveralls

deploy:
  provider: pypi
  user: lnielsen
  password:
    secure: "iFwYlgl8UsWnh+oxvl4pmW9eBB3JrLC0hyPDfurxZIUaAHolTazbWhEPLmp4rh6WF3WlfVzCIgQJ+VX2up3kJk6i/JJE2RyhTYCMwLb8jtJWhH0KUoaD1LqP0kpos6keyuyG1Y3n5OxVYWXObVsVgo0i0IAw4xp+/YFFQImK4dc="
  distributions: "sdist bdist_wheel"
  on:
    tags: true
    python: "2.7"
    condition: $REQUIREMENTS = release
