# This file is part of DataCite.
#
# Copyright (C) 2015, 2016 CERN.
#
# DataCite is free software; you can redistribute it and/or modify it
# under the terms of the Revised BSD License; see LICENSE file for
# more details.

include *.py
include *.rst
include *.sh
include *.yml
include .coveragerc
include .editorconfig
include AUTHORS.rst
include CHANGES.rst
include CONTRIBUTING.rst
include Dockerfile
include docs/*.py
include docs/*.rst
include docs/Makefile
include docs/requirements.txt
include .lgtm
include LICENSE
include MAINTAINERS
include MANIFEST.in
include pytest.ini
include README.rst
include tests/*.py
include tox.ini
recursive-include datacite *.json
recursive-include tests *.json
recursive-include tests *.py
recursive-include tests *.xml
recursive-include tests *.xsd
